@import url('http://yui.yahooapis.com/3.5.0/build/cssreset/cssreset-min.css');
@import url('http://yui.yahooapis.com/3.5.0/build/cssbase/cssbase-min.css');

.fleft{float: left;}
.fright{float: right;}
.clear{clear: both;}

.w100{ width: 100%;}

.w40{ width: 40%;}
.w60{ width: 60%;}

.w50{ width: 50%;}

.w30{ width: 30%;}
.w70{ width: 70%;}

.w33{ width: 33.3%;}

.w25{ width: 25%;}

.w20{ width: 20%;}

/*regras template*/
div#page { width: 980px; margin: 0 auto;}
div#page {text-align: center;}

/*div#page div#header div{display:inline-block;}*/
div#logo {min-height: 150px;}
div#contacts {background: white; color: #300A8F;}

div#menu {text-align: left;background: #300A8F;}
div#menu  li { display: inline-block; padding: 5px;}
div#menu  li:hover {background: #0DDD11;}
div#menu  li a { text-decoration: none; color: white; margin: 20px;}

div#banner{min-height: 400px; background: white;}
div#redes a {display: inline-block;}
div#redes a:hover{opacity: 0.8}

h1 {color:#300A8F;font-size: 20pt; font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";}
a {font-family: 'PT Sans Narrow', sans-serif;}
p {font-family: 'Josefin Sans', sans-serif; text-align: center; width: 320px; padding: 10px 0px;}

.box {align-items: center; padding:20px 0px}

.box a
{
	display: inline-block; 
	background:  #300A8F;
	border: solid #0DDD11 2px; 
	color:white; 
	border-radius: 10px;
	padding: 5px 5px; 
	text-decoration: none; 
	align-content: center;
}
.box a:hover {background:  #0DDD11; color:white; } 

.texto2 {padding: 10px 80px; background: #0DDD11}

.imgborder {border: solid #300A8F 2px;} 
.imgborder:hover{border: solid #0DDD11 2px; opacity: 0.8;}

.bloco{background-color: #300A8F;}
.bloco h1{color: white;}
.bloco p{color: white;}

#redes a{display: inline-block; margin: 4px; position: relative; left: -20px;}
#redes{position: absolute;}


/*ESTRUTURAS PERSONALIZADAS*/



/*ESTRUTURA RESPONSIVA*/
@media screen and (max-width: 1000px) {
	html, body{background: red;}
}
@media screen and (max-width: 600px) {
	html, body{background: blue;}
	div#page{ width: 100%;}
}
@media screen and (max-width: 480px) {
	html, body{background: green;}
}
